<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.alibaba.com/schema/stat"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.alibaba.com/schema/stat http://www.alibaba.com/schema/stat.xsd">

    <!-- 开启mvc注解模式
         简化配置：
                1，自动注册DefaultAnnotationHandlerMapping,AnnotationMethodHandlerAdapter
                2,提供：数据绑定 ，数字和日期format @NumberFormat @DateTimeFormat
                   json,xml默认读写支持
     -->
    <mvc:annotation-driven/>

    <!-- 静态资源的处理 -->
    <mvc:default-servlet-handler/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp"/>
        <property name="suffix" value="*.jsp"/>
    </bean>
</beans>